.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.text-danger {
  color: red;
}
.text-warning {
  color: yellow;
}
.text-success {
  color: green;
}
.text-primary {
  color: blue;
}
.input-border {
  border: 2px solid blue;
  border-radius: 4px;
}
.register-form {
  padding-top: 20px;
  width: 500px;
  margin: auto;
}